<div class="modal fade" id="modalMuestraAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		    <div class="modal-content">
			      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Registrar Muestra</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <form autocomplete="off">
				          <div class="form-group">
				            <label for="codigoAdd" class="col-form-label">Código:</label>
				            <input type="number" class="form-control" id="codigoAdd">
				          </div>
				          <div class="form-group">
				            <label for="id_jefe_labAdd" class="col-form-label">id Jefe Lab:</label>
				            <input type="number" class="form-control" id="id_jefe_labAdd">
				          </div>
				          <div class="form-group">
				            <label for="id_loteAdd" class="col-form-label">id Lote:</label>
				            <input type="number" class="form-control" id="id_loteAdd">
				          </div>				          
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="agregarMuestra();">Agregar</button>
			      </div>
		    </div>
	  </div>
</div>